pretrained/ssv2_pretrained.pth
./pretrained/
./result/
./log/
dataset/
result/
*.pyc
*.txt
*.out
*.sw*
*.DS_Store
multinode_sh/
*.sh
*.err
*.pt
*.pth
result/mini_150_1e-3_attn_freeze/202211160330_12_8_0.001_150/latest
result/mini_150_1e-3_attn_nonfreeze/202211161205_12_8_0.001_150/latest
